{% extends 'shared/_layout.html' %}


{% block title %}
    
{% endblock title %}


{% block content %}
<main class="main-content">

    <!-- Service Details -->
    <div class="tm-section service-details-area bg-white tm-padding-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="tm-service-details sticky-sidebar"><div class="inner-wrapper-sticky" style="position: relative;">
                        <img class="tm-service-details-image" src="assets/images/others/service-details.jpg" alt="service details image">
                        <h2>Financial Analysis</h2>
                        <p>Delectus voluptatem fugiat doloremque ab in. Assumenda eos temporibus quia temporibus expedita numquam ut velit repellendus. Totam aperiam eum aut ea consequatur. Totam iure ab in ea possimus mollitia aperiam. Qui corporis officiis accusantium eveniet fugiat neque necessitatibus. Ipsum dolores fugit facere et labore et officia magnam sint.</p>
                        <p>Placeat et assumenda omnis fugit aut quaerat modi qui. Qui et sequi. Sequi minima velit sapiente corporis dolor hic. Deleniti atque voluptas non mollitia sed illo hic magni.</p>
                        <blockquote>
                            <p>Nulla omnis nulla rerum. Et architecto dolorem unde. In non molestiae vel autem iste. Architecto et eum beatae facilis. Illum aut non consequuntur reprehenderit velit sequi quia.</p>
                        </blockquote>
                        <ul class="stylish-list">
                            <li><i class="fa fa-hand-o-right"></i> Eum dolor atque quisquam qui voluptate necessitatibus tempore.</li>
                            <li><i class="fa fa-hand-o-right"></i> Alias quidem non explicabo delectus totam dolores odit.</li>
                            <li><i class="fa fa-hand-o-right"></i> Et laboriosam magni animi dignissimos.</li>
                            <li><i class="fa fa-hand-o-right"></i> Adipisci dolorem minus quas voluptate sapiente velit unde veritatis.</li>
                            <li><i class="fa fa-hand-o-right"></i> Perferendis nihil veritatis.</li>
                            <li><i class="fa fa-hand-o-right"></i> Et reiciendis iure blanditiis quas sed dolore.</li>
                        </ul>
                        <div id="service-acc" class="tm-accordion pt-2">
                            <div class="card">
                                <div class="card-header" id="service-acc-heading1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#service-acc-collapse1" aria-expanded="true" aria-controls="service-acc-collapse1">
                                            What is Financial Analysis?
                                        </button>
                                    </h5>
                                </div>
                                <div id="service-acc-collapse1" class="collapse show" aria-labelledby="service-acc-heading1" data-parent="#service-acc">
                                    <div class="card-body">
                                        <p>Sint et et illum. Odio et nesciunt veritatis maxime quas esse dolore. Beatae vel et modi quidem. Modi aut dolorem sed necessitatibus ut voluptatem deleniti.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="service-acc-heading2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#service-acc-collapse2" aria-expanded="false" aria-controls="service-acc-collapse2">
                                            What is our Business Strategy?
                                        </button>
                                    </h5>
                                </div>
                                <div id="service-acc-collapse2" class="collapse" aria-labelledby="service-acc-heading2" data-parent="#service-acc">
                                    <div class="card-body">
                                        <p>Voluptatum voluptas deserunt. Sed sed ipsum cum placeat et nemo earum aspernatur consequatur. Autem beatae cum accusantium sunt rerum est enim iste. Ut vero quis qui distinctio quas omnis nostrum. Sunt tempore rem pariatur aut odio necessitatibus amet dolorem illum. Facilis voluptatibus eos.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="service-acc-heading3">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#service-acc-collapse3" aria-expanded="false" aria-controls="service-acc-collapse3">
                                            How do I make a perfect Business plan?
                                        </button>
                                    </h5>
                                </div>
                                <div id="service-acc-collapse3" class="collapse" aria-labelledby="service-acc-heading3" data-parent="#service-acc">
                                    <div class="card-body">
                                        <p>Voluptas pariatur ab officiis fuga quia eligendi. Et ab provident amet voluptas praesentium. Qui ducimus modi qui delectus sed aspernatur sed. Aut tempora quod quis vitae ipsum. Harum in sint odio sint quia iste perspiciatis illo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="widgets sidebar-widgets sticky-sidebar" style=""><div class="inner-wrapper-sticky" style="position: relative;">

                        <!-- Single Widget -->
                        <div class="single-widget widget-serviceitems">
                            <h5 class="widget-title">Services</h5>
                            <ul>
                                <li class="active"><a href="service-details.html">Financial Analysis</a></li>
                                <li><a href="service-details.html">Business Consulting</a></li>
                                <li><a href="service-details.html">Corporate Finance</a></li>
                                <li><a href="service-details.html">Financial Planning</a></li>
                                <li><a href="service-details.html">Business Growth</a></li>
                                <li><a href="service-details.html">Wealth Management</a></li>
                            </ul>
                        </div>
                        <!--// Single Widget -->

                        <!-- Single Widget -->
                        <div class="single-widget widget-contact">
                            <h5 class="widget-title">Contact Us</h5>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <p>2726 Avenue Papineau Montreal, QC, Canada</p>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <p>Email: <a href="#">info@example.com</a></p>
                                    <p>Skype: <a href="#">example.name</a></p>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <p><a href="#">1-800-915-6270</a></p>
                                    <p><a href="#">1-800-915-6271</a></p>
                                </li>
                            </ul>
                        </div>
                        <!--// Single Widget -->

                    </div></div>
                </div>
            </div>
        </div>
    </div>
    <!--// Service Details -->

    <!-- Call To Action Area -->
    <div class="tm-section call-to-action-area bg-theme">
        <div class="container">
            <div class="row align-items-center tm-cta">
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="tm-cta-content">
                        <h3>Are you worried about your business?</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="tm-cta-button">
                        <a href="contact-us.html" class="tm-button tm-button-white">Contact Us <b></b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Call To Action Area -->

</main>
{% endblock content %}
    
    