<!-- jquery-3.3.1 /static/js -->
<script src="/static/js/jquery-3.3.1.min.js"></script>

<!-- popper /static/js -->
<script src="/static/js/popper.min.js"></script>

<!-- bootstrap /static/js -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- scrollIt /static/js -->
<script src="/static/js/scrollIt.min.js"></script>

<!-- countTo /static/js -->
<script src="/static/js/jquery.countTo.js"></script>

<!-- easypiechart /static/js -->
<script src="/static/js/jquery.easypiechart.js"></script>

<!-- filter /static/js -->
<script src="/static/js/jquery.filterizr.min.js"></script>

<!-- waypoints /static/js -->
<script src="/static/js/waypoints.min.js"></script>

<!-- owl carousel /static/js -->
<script src="/static/js/owl.carousel.min.js"></script>

<!-- validator /static/js -->
<script src="/static/js/validator.js"></script>

<!-- paroller /static/js -->
<script src="/static/js/jquery.paroller.min.js"></script>
<script>
  $('.jumbotron').paroller()
</script>

<!-- maps /static/js -->
<script src="/static/js/gmaps.min.js"></script>
{% comment %} <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script> {% endcomment %}
<script src="/static/js/map.js"></script>

<!-- coustom /static/js -->
<script src="/static/js/main.js"></script>

<!-- lightbox /static/js -->
<script src="/static/js/lightbox.js"></script>
