<title>YARA - Personal Portfolio Template</title>

<!-- FAVICON -->
<link href="/static/img/favicon.ico" rel="icon">

<!-- BOOTSTRAP /static/css -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<!-- FONT-AWESOME -->
<link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css">

<!-- OWL CAROUSEL -->
<link href="/static/css/owl.carousel.min.css" rel="stylesheet">
<link href="/static/css/owl.theme.default.min.css" rel="stylesheet">

<!-- LIGHTBOX -->
<link rel=" stylesheet" href="/static/css/lightbox.css">

<!--Style /static/css file-->
<link rel=" stylesheet" href="/static/css/style.css">
