 <!-- Footer Area -->
 <div class="footer sticky-active">

    <!-- Footer Widgets Area -->
    <div class="footer-toparea tm-padding-section" data-bgimage="static/images/bg/footer-bg.jpg" data-overlay="2">
        <div class="container">
            <div class="row widgets footer-widgets">

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Info) -->
                    <div class="single-widget widget-info">
                        <a href="index.html" class="widget-info-logo">
                            <img src="static/images/logo/logo-white.png" alt="footer logo">
                        </a>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Rerum harum ipsum
                            quibusdam quas qui ratione inventore dolore natus recusandae assumenda.</p>
                        <a href="about-us.html" class="tm-button">Read More<b></b></a>
                    </div>
                    <!--// Single Widget (Widget Info) -->
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Contact) -->
                    <div class="single-widget widget-quicklinks">
                        <h5 class="widget-title">Quick Links</h5>
                        <ul>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="contact-us.html">Contact With Us</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Case Studies</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Blog) -->
                    <div class="single-widget widget-recentpost">
                        <h5 class="widget-title">Recent Posts</h5>
                        <ul>
                            <li>
                                <a href="blog-details.html" class="widget-recentpost-image">
                                    <img src="static/images/blog/thumbnails/blog-thumbnail-1.jpg" alt="blog thumbnail">
                                </a>
                                <div class="widget-recentpost-content">
                                    <h6><a href="blog-details.html">Architecto earum maxime deleniti qui
                                            debitis</a></h6>
                                    <span>August 01, 2018</span>
                                </div>
                            </li>
                            <li>
                                <a href="blog-details.html" class="widget-recentpost-image">
                                    <img src="static/images/blog/thumbnails/blog-thumbnail-2.jpg" alt="blog thumbnail">
                                </a>
                                <div class="widget-recentpost-content">
                                    <h6><a href="blog-details.html">Minus omnis eos eaque illum dolo</a></h6>
                                    <span>August 01, 2018</span>
                                </div>
                            </li>
                            <li>
                                <a href="blog-details.html" class="widget-recentpost-image">
                                    <img src="static/images/blog/thumbnails/blog-thumbnail-3.jpg" alt="blog thumbnail">
                                </a>
                                <div class="widget-recentpost-content">
                                    <h6><a href="blog-details.html">Corporis eaque illum dolo</a></h6>
                                    <span>August 01, 2018</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Blog) -->
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Newsletter) -->
                    <div class="single-widget widget-newsletter">
                        <h5 class="widget-title">Get In Touch</h5>
                        <p>Get Business news, tip and solutions to
                            your problems from our experts.</p>
                        <form id="tm-mailchimp-form" class="widget-newsletter-form">
                            <input id="mc-email" type="email" placeholder="Enter email address">
                            <button id="mc-submit" type="submit" class="tm-button">Subscribe Now <b></b></button>
                        </form>
                        <!-- Mailchimp Alerts -->
                        <div class="tm-mailchimp-alerts">
                            <div class="tm-mailchimp-submitting"></div>
                            <div class="mailchimp-success"></div>
                            <div class="tm-mailchimp-error"></div>
                        </div>
                        <!--// Mailchimp Alerts -->
                    </div>
                    <!--// Single Widget (Widget Newsletter) -->
                </div>

            </div>
        </div>
    </div>
    <!--// Footer Widgets Area -->

    <!-- Footer Copyright Area -->
    <div class="footer-copyrightarea">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 col-12">
                    <p class="footer-copyright">Copyright ©2018 <a href="#">Thememarch</a>. All Rights Reserved</p>
                </div>
                <div class="col-md-4 col-12">
                    <div class="footer-copyrightsocial">
                        <ul>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                        class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                        class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Footer Copyright Area -->

</div>
<!--// Footer Area -->