<!-- ====== PRELOADER ======  -->
<div class="preloader">
  <div class="d-table">
      <div class="d-table-cell align-middle">
          <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
          </div>
      </div>
  </div>
</div>
<!-- ======END PRELOADER ======  -->

<!-- ======START NAVGITION ====== -->
<nav class="navbar navbar-expand-lg">
  <!-- logo -->
  <a class="navbar-brand" href="{% url 'home_page'%}"><img src="static/img/logo.png" alt="header-Logo" class="logo" /></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"><span class="icon-bar"><i class="fa fa-bars fa-2x"></i></span></button>
  <!-- End of Resposive Toggle icon -->

  <div class="collapse navbar-collapse" id="navbarText">
    <!-- Main menu navigation list -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home" data-scroll-nav="0">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about" data-scroll-nav="1">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services" data-scroll-nav="2">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#portfolio" data-scroll-nav="3">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#blog" data-scroll-nav="4">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact" data-scroll-nav="5">Contact</a>
      </li>
    </ul>
    <!-- End of Main menu navigation list -->
  </div>
  <!-- End of resposive collapse class -->
</nav>
<!-- ====== END NAVGITION ====== -->
